.App {
  text-align: center;
  box-sizing:border-box;
  
}

.grid{
  display:grid;
  grid-template-areas:
    'header header'
    'stocks-container stocks-container'
    'external-stocks-container external-stocks-container'
    'footer footer';

}

.header {
  background-color:aliceblue;
  margin:0;
  padding:1rem;
  letter-spacing:0.1rem;
  grid-area:header;
}

.footer{
  background-color:aliceblue;
  margin:0;
  padding:1rem;
  letter-spacing:0.1rem;
  grid-area:footer;
}

.my-stocks-container{
  margin:0;
  padding:1rem;
  /* display:flex; */
  width:95%;
  grid-area:stocks-container;
}

.my-stocks-container-box{
  display:flex;
}

.my-stocks-container > h1{
  margin:0;
}

.my-stocks-left{
  flex:50%;
  height:80vh;
}

.my-stocks-right{
  border: 2px solid black;
  border-radius:5px;
  flex:50%;
  max-height:80vh;
  
}

.my-stocks-list > h2{
  font-size:1.2rem;
}

.table > tr > th  {
  padding:0.5rem;
}

td{
  padding:0.25rem;
  text-align:center;
}

th, td, table {
  border: 1px solid black;
  margin: 0px
}

.my-stock-items-graph{
  padding:0rem;
}

.my-stock-items-graph > .stock-details{
  padding-left:1rem;
}

.my-stock-items-graph > .stock-details h3, .my-stock-items-graph > .stock-details h4{
  margin:0;
}

.external-stocks-container{
  padding:1rem;
  grid-area: external-stocks-container;
}